script#article-view-list(type='text/ng-template')
  .article__list.split-box
    .article__item.text--overflow(ng-repeat='file in files track by $index', ng-click='selectFile(file._id)', ng-class='{active: currentFile._id === file._id}', title='{{file.name}}')
      | {{file.name || $parent.defaultName}}
script#article-list(type='text/ng-template')
  .article__list.split-box
    .article__item
      span.fui-plus.button-icon(title='新建文档', ng-click='addArticle()')
    .article__item.text--overflow(ng-repeat='file in files track by $index', ng-click='selectFile(file._id)', ng-class='{active: currentFile._id === file._id}', title='{{file.name}}')
      | {{file.name || $parent.defaultName}}
      span(ng-show='file.isChange') *
      span.fui-cross.article__delete(ng-click='delArticle($event, file._id, $index)')
script#article-editor(type='text/ng-template')
  .article__editor.split-box
    .article__bar.navbar
      span.article__name.button-icon.text--overflow(ng-click='editName(true)', ng-show='!status.editingName', title='{{currentFile.name}}')
        | {{currentFile.name || defaultName}}
        span.article__mark(ng-show='currentFile.isChange') *
      input.article__input(type='text', ng-model='currentFile.name', auto-focus='status.editingName', ng-show='status.editingName', ng-keydown='keydownSaveName($event)', ng-blur='saveName($event)')
      button.article__button.button-icon(ng-repeat='fun in functions', title="{{fun.title + ' ' + fun.key}}", ng-click='opera(fun)', ng-disabled='disable(fun)')
        span(class='{{fun.icon}}')
    .article__ace(article-editor='currentFile')
script#article-preview(type='text/ng-template')
  .split-box.article__preview
    div
      .content.markdown-body(markdown-preview='html', markdown-preview-table='table')
script#edit-article-dialog(type='text/ng-template')
  div(ng-show="dialogType === 'link'")
    form.form__full(name='linkForm', ng-submit='submit()', ng-controller='editArticleLinkCtrl')
      .text--center
        .prompt__item--alert(ng-show='linkForm.link.$error.required') 请填写url
        .prompt__item--alert(ng-show='linkForm.link.$error.url') 格式错误
      label.form__label(for='edit-article-link-ctrl') 链接
      .form-group
        input#edit-article-link-ctrl.form-control(type='url', name='link', required='required', auto-focus="$parent.dialogType === 'link'", ng-model='link', placeholder='例如：http://www.upupbox.com')
      button.btn.btn-primary(type='submit') 插入
  div(ng-show="dialogType === 'image'")
    form.form__full(name='imageForm', ng-submit='submit()', ng-controller='editArticleImageCtrl')
      .text--center
        .prompt__item--alert(ng-show='imageForm.image.$error.required') 请填写url
        .prompt__item--alert(ng-show='imageForm.image.$error.url') 格式错误
      label.form__label(for='edit-article-image-ctrl') 图片地址
      .form-group
        input#edit-article-image-ctrl.form-control(type='url', name='image', required='required', auto-focus="$parent.dialogType === 'image'", ng-model='image', placeholder='例如：http://www.baidu.com/img/bd_logo1.png')
      button.btn.btn-primary(type='submit') 插入
script#article-console(type='text/ng-template')
  .article__console.split-box
    .article__console-bar 日志
    ul.article__console-box
      li(ng-repeat='prompt in prompts')
        span.label(ng-class="{'success': 'palette-nephritis', 'error': 'palette-alizarin', 'doing': 'palette-belize-hole'}[prompt.status]") {{prompt.status}}
        |   {{prompt.message}}
        span.article__console-time {{prompt.time |  date:'yyyy-MM-dd HH:mm:ss'}}
