div.navbar.navbar-default.navbar-static-top(ng-controller='NavbarCtrl')
  div.container-fluid
    div.navbar-header
      button.navbar-toggle(type='button', ng-click='isCollapsed = !isCollapsed')
        span.sr-only Toggle navigation
      a.navbar-brand(href='/') upupbox

    div#navbar-main.navbar-collapse.collapse(collapse='isCollapsed')
      ul.nav.navbar-nav
        li(ng-repeat='item in menu', ng-class='{active: isActive(item.state)}')
          a(ng-href='{{item.link}}') {{item.title}}

      ul.nav.navbar-nav.navbar-right
        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("signup")}')
          a(href='/signup') 注册

        li(ng-hide='isLoggedIn()', ng-class='{active: isActive("login")}')
          a(href='/login') 登录

        li(ng-show='isLoggedIn()')
          a(href='/profile/messages')
            span.label(ng-class="{true: 'label-warning', false: 'label-default'}[!!unreadCount()]") {{unreadCount() || 0}} 未读消息

        li.dropdown(ng-show='isLoggedIn()')
          a.dropdown-toggle(href="javascript:;")
            span.pull-right(style="margin: -10px 0 -10px 10px;")
              img.img-circle(ng-src="http://identicon.relucks.org/{{ getCurrentUser().name }}?size=40px", alt="{{ getCurrentUser().name }}")
            span.hidden-sm.hidden-md {{ getCurrentUser().name }}
            b.caret
          ul.dropdown-menu.animated.fadeInRight
            li(ng-class='{active: isActive("profile")}')
              a(href='/profile') 个人中心
            li(ng-class='{active: isActive("settings")}')
              a(href='/settings') 设置
            li(ng-show='isAdmin()', ng-class='{active: isActive("admin")}')
              a(href='/admin') 管理后台
            li
              a(href='', ng-click='logout()') 退出登录
