div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit.bg-primary
  .container
    img(src='assets/images/colorbox.png', alt='欢迎来到colorbox')
    h1 Hi, colorbox
    p.lead 你的前端收纳盒

.container
  .row.text-center
    .col-sm-4.panel
      a
        .panel-body
          span.fui-new
          |  代码片段
    .col-sm-4.panel
      a(href="/article/edit")
        .panel-body
          span.fui-document
          |  文档编辑
    .col-sm-4.panel
      a
        .panel-body
          span.fui-list-large-thumbnails
          |  web应用
  //.row
  //  .col-lg-12
  //    h1.page-header Features:
  //    ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
  //      li
  //        a(href='#', tooltip='{{thing.info}}')
  //          | {{thing.name}}
  //          button.close(type='button', ng-click='deleteThing(thing)') ×
  //
  //form.thing-form
  //  label Syncs in realtime across clients
  //  p.input-group
  //    input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
  //    span.input-group-btn
  //      button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .container
    p
      a(href='https://github.com/color-box/colorbox') colorbox
      = ' | '
      a(href='https://github.com/color-box/colorbox/issues?state=open') Issues
