div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit.bg-primary
  .container
    img(src='assets/images/colorbox.png', alt='欢迎来到upupbox')
    h1 Hi, upupbox
    p.lead 你的前端收纳盒

.container
    //.row
    //  .col-sm-2.panel.text-center
    //    a(href="/article/edit")
    //      .panel-body
    //        span.fa.fa-edit
    //        |  文档编辑
    //  .col-sm-4
    //    .input-group
    //      input.form-control(type="text")
    //      span.input-group-btn
    //        button.btn.btn-primary 搜索
    //.row
    //  .col-sm-12
    //    .col-sm-4(ng-repeat="article in articles")
    //      .panel.panel-default
    //        .panel-body
    //          a(href="/article/view?_id={{article._id}}")
    //            strong {{article.name || '未命名'}}
    //.row
    //  .col-sm-2.panel.text-center
    //    a(href="/snippet/edit")
    //      .panel-body
    //        span.fa.fa-code
    //        |  代码片段
    //.row
    //  .col-sm-12
    //    .col-sm-4(ng-repeat="snippet in snippets")
    //      .panel.panel-default
    //        .panel-body
    //          a(href="/snippet/view?_id={{snippet._id}}")
    //            strong {{snippet.name || '片段_' + snippet._id}}
    //.col-sm-4.panel
    //  a
    //    .panel-body
    //      span.fa.fa-th-large
    //      |  slide
  //.row
  //  .col-lg-12
  //    h1.page-header Features:
  //    ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='thing in awesomeThings')
  //      li
  //        a(href='#', tooltip='{{thing.info}}')
  //          | {{thing.name}}
  //          button.close(type='button', ng-click='deleteThing(thing)') ×
  //
  //form.thing-form
  //  label Syncs in realtime across clients
  //  p.input-group
  //    input.form-control(type='text', placeholder='Add a new thing here.', ng-model='newThing')
  //    span.input-group-btn
  //      button.btn.btn-primary(type='submit', ng-click='addThing()') Add New
footer.footer
  .container
    p
      a(href='https://github.com/color-box/colorbox') upupbox
      = ' | '
      a(href='https://github.com/color-box/colorbox/issues?state=open') Issues
