div.panel-heading
  a.btn.btn-primary(href="/snippet/edit")
    span.fa.fa-plus
    |  新增
div.panel-body
  div.row
    div.alert.alert-warning.text-center(ng-hide="snippets.length || loading") 您还没有添加代码片段
    div.alert.text-center(ng-show="loading") 加载中...
    div.col-md-4(ng-repeat="snippet in snippets")
      div.panel.panel-default
        div.square__body.square__body--snippet
          span.square__del.fa.fa-trash(ng-click="del(snippet._id)")
          a.square__link(href="/snippet/edit?_id={{snippet._id}}")
            div.square__icon
              span.fa.fa-pencil
          iframe.square__iframe(id="{{snippet._id}}", ng-src="{{snippet.preview}}", width="200%", height="200%", seamless, frameBorder=0, scrolling="no", sandbox="allow-scripts allow-pointer-lock allow-same-origin")
        div.panel-footer
          small.pull-right
            span.fa.fa-eye(title="有{{snippet.viewCount}}次浏览") &nbsp;{{snippet.viewCount}}
            span.fa.fa-heart.mll(title="有{{snippet.starsCount}}个人喜欢") &nbsp;{{snippet.starsCount}}
          div(title="{{snippet.name || snippet._id}}")
            a.fa.fa-rocket.mrm(href="javascript:;", title="发布", ng-click="publish(snippet)", ng-if="!snippet.publish")
            | {{(snippet.name || snippet._id).slice(0, 18)}}
  div.pagination.pull-right(ng-controller="SnippetListPaginationCtrl")
    pagination(total-items="total", ng-model="currentPage", items-per-page="pageSize", ng-change="change()", previous-text="上一页",next-text="下一页")

