div(ng-include='"components/navbar/navbar.html"')
.panel
  .panel-body.text-center
    img.img-circle(ng-src="http://identicon.relucks.org/{{ getCurrentUser().name }}?size=128px", width="128px", height="128px")
    h3 {{ getCurrentUser().name }}
    div.btn-group.btn-group-sm.text-center
      a.btn.btn-default(href="/settings", title="修改个人信息")
        span.fa.fa-pencil
      a.btn.btn-default(href="/user/{{ getCurrentUser().name }}", title="个人主页")
        span.fa.fa-home
.container
  ul.nav.nav-tabs.nav-justified
    li(ng-repeat="tab in tabs", ng-class="{active: isActive(tab.name)}")
      a(href="/profile/{{tab.name}}") {{tab.text}}
    li(ng-class="{active: isActive('messages')}")
      a(href="/profile/messages") 消息
        span.badge.mlm(ng-show="unreadCount()") {{unreadCount()}}
  div.panel(ui-view="")
